python-dotenv
cohere>=4.0.0,<5.0.0  # Specify a version range that includes ClientV2 if needed, or latest if ClientV2 is an alias
pinecone-client>=3.0.0
langchain
langchain-cohere
langchain-pinecone
langchain-core
Flask>=2.0.0
Flask-CORS>=3.0.0
mistralai
httpx
httpcore
